<ion-header no-border>
 
  <ion-searchbar placeholder="Buscar" color="primary" (ionChange)="search($event)"></ion-searchbar>
</ion-header>

<ion-content>
  <ion-grid>
    
    <ion-row>
      <ion-col size="12" size-sm="6" size-md="4" size-lg="3" size-xl="2" size-xxl="2" *ngFor="let product of products | async | filter : textSearch">

        <ion-card routerLink="details/{{product.id}}" (click)="sendDetailsProduct(product)">

          <ion-card-header>
            
            <img [src]="product.images.image1">
          </ion-card-header>

          <ion-card-content>
            <ion-text>
              {{ product.price }}
            </ion-text>
          </ion-card-content>
          
      </ion-card>
      
      </ion-col>
    </ion-row>

  </ion-grid>
  
  
</ion-content>
