<app-header title="Inicio"></app-header>

<ion-content>

  <ion-grid>
    <ion-row>
        <ion-col *ngFor="let p of products">

          <ion-card (click)="detailOfProduct(p)">

            <ion-card-header>
              <img [src]="p.images.image1">
            </ion-card-header>

            <ion-card-content>

              <ion-label>
                <p> {{ p.name }} </p>
                <h2>$ {{ p.price }}</h2>
              </ion-label>
            </ion-card-content>
            
          </ion-card>
          
        </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addUpdateProduct()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>