<ion-header>
  <ion-toolbar>
    
    <ion-buttons slot="start">
      
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
      
    </ion-buttons>
    <ion-buttons slot="end">

      <ion-button>
        <ion-icon name="apps"></ion-icon>
      </ion-button>

    </ion-buttons> 
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card> 

    <ion-card-header>

      <ion-card-title> name </ion-card-title>
     
    </ion-card-header>

    <ion-card-content>

      <!-- <swiper-container>

        <swiper-slide *ngFor="let image of productImages">
          <img [src]="image">
        </swiper-slide>
        
      </swiper-container> -->

      <ion-text>
        <p> descriottion} </p>
      </ion-text>

    </ion-card-content>

  </ion-card>
</ion-content>
