
<ion-content>
  <br> <br>
    <ion-card> 

      <ion-card-header>
          
        
      <ion-icon size="large" (click)="goBack()" name="arrow-back"></ion-icon>
        
        
      </ion-card-header>
  
      <ion-card-content>

        <ion-row>
          <ion-col size="6">
            <swiper-container>
              <swiper-slide *ngFor="let image of productImages">
                <img [src]="image">
              </swiper-slide>
            </swiper-container>
            
            <ion-button color="light"> <ion-icon name="add"></ion-icon> <ion-icon name="cart"></ion-icon> </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-card-title> {{ productName }} </ion-card-title> 
            <ion-card-subtitle> {{ productPrice }} </ion-card-subtitle> 
             <!-- Ver más información -->
            <ion-text>
              <details>
                <summary>Ver más información</summary>
                <ion-text>
                  <p> {{ productDescription }} </p>
                </ion-text>
              </details>  
            </ion-text>
             <!-- Fin Ver más información -->
           
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  
</ion-content>
