<app-header [isModal]="true" title="Agregar producto"></app-header>
<ion-content>
    <form [formGroup]="form" class="ion-padding ion-text-center" (ngSubmit)="createProduct()" (keypress.enter)="submit()">

        <ion-avatar *ngIf="form.value.image">
            <img [src]="form.value.image">
        </ion-avatar>

        <!-- Camera -->

        <ion-icon 
            class="image-icon" 
            *ngIf="!form.value.image" 
            name="image-outline">
        </ion-icon>
        
        <br>   

        <ion-button (click)="takeImage()" mode="ios" size="small" shape="round">
            Abrir Camara/Subir Foto
        </ion-button>

        <!-- Name -->

        <app-custom-input 
            autocompletar="name" 
            [control]="form.controls.name" 
            type="text"
            label="Nombre">
        </app-custom-input>

        <div class="validators" *ngIf="form.controls.name.errors && form.controls.name.touched">
            <div *ngIf="form.controls.name.errors?.['required']">Este campo es obligatorio</div>
            <div *ngIf="form.controls.name.errors?.['minLength']">Debe ingresar al menos 3 caracteres</div>
        </div>

        <!-- Price -->

        <app-custom-input 
            [control]="form.controls.price" 
            type="number"
            label="Precio">
        </app-custom-input>

        <div class="validators" *ngIf="form.controls.price.errors && form.controls.price.touched">
            <div *ngIf="form.controls.price.errors?.['required']">Este campo es obligatorio</div>
            <div *ngIf="form.controls.price.errors?.['min']">El precio minimo es 0</div>
        </div>

        <!-- Sold Units -->

        <app-custom-input 
            [control]="form.controls.soldUnits" 
            type="number"
            label="Unidades Vendidas">
        </app-custom-input>

        <div class="validators" *ngIf="form.controls.soldUnits.errors && form.controls.soldUnits.touched">
            <div *ngIf="form.controls.soldUnits.errors?.['required']">Este campo es obligatorio</div>
            <div *ngIf="form.controls.soldUnits.errors?.['min']">La cantidad minima es 0</div>
        </div>

        <!-- Button Create Product -->

        <ion-button expand="block" mode="ios" class="ion-margin" type="submit" [disabled]="form.invalid">
            Agregar Producto
            <ion-icon slot="end" name="cube-outline"></ion-icon>
        </ion-button>

    </form>
    
</ion-content>